.hero__box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    z-index: 5;
}
.hero__button{
    width: 100px;
    height: 100px;
    background-image: url("../images/create-icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    // z-index: -1;
}


.modal{
    
}
.modal-box{
    position: absolute;
    left: 30%;
    top: 10%;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    background-color: #fff;
}
.modal-box__title{
    margin: 0;
    margin-top: 5px;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.modal-box__inner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
}
.modal-box__text{
    margin: 20px 0px;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    text-align: center;
}
.modal-box__file{
    padding: 5px 5px;
    font-family: "Roboto",sans-serif;
    font-weight: 200;
    font-size: 15px;
    background-color: #00f;
    border: 1px solid transparent;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.modal-box__cancel{
    position: absolute;
    top: 0;
    right: -400px;
    width: 50px;
    height: 50px;
    background-image: url("../images/cancel.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
}
.modal{
    display: none;
}
.modal-active .modal{
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 10;
    background: linear-gradient(180deg, #0a0b11 0%, rgba(18, 19, 27, 0) 100%);
}
.modal-active{
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 10;
    background: linear-gradient(180deg, #0a0b11 0%, rgba(18, 19, 27, 0) 100%);
    animation-duration: 1s;
    animation-delay: 1s;
}

.modal2{
    display: none;
    width: 100%;
    // max-width: 800px;
    height: 100vh;
    position: absolute;
    // left: 20%;
    z-index: 10;
    background: linear-gradient(180deg, #0a0b11 0%, rgba(18, 19, 27, 0) 100%);
}
.modal2-active{
    display: block;
}
.modal-post{
    width: 100%;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 5px;
    background-color: #fff;
    border-radius: 10px;
}
.modal-box__title-text{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}
hr{
    margin: 0;
}
.modal-box__title{
    // position: absolute;
    top: -5px;
    left: 283px;
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.modal-box__titles{
    justify-content: space-between;
}
.modal-box__back{
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-image: url("../images/arrow-left.png");
    background-size: cover;
    // background-position: calc(50% + -370px) calc(50%);
    background-repeat: no-repeat;
    cursor: pointer;
}
.modal-box__share{
    // width: 100px;
    // margin-right: -300px;
    // margin-left: 200px;
    display: inline-block;
    text-decoration: none;
    color: #00f;
    font-size: 15px;
    // margin-left: auto;
    // margin-right: auto;
}
h2{
    margin: 0;
    text-align: center;
}
.modal-post__wrapper{
    display: flex;
}
.modal-post__image{
    width: 400px;
    height: 500px;
    background-image: url("../images/post-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(50% + 100px) calc(50%);
}
.modal-post__box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.modal-post__name{
    display: flex;
    align-items: center;

}
.modal-post__name::before{
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../images/post-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
#post{
    border: 1px solid transparent;
    resize: none;
}

.modal-post__smile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}
.modal-post__smile-box{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/smile-icon.png");
    cursor: pointer;
}
.modal-post__smile-text{
    font-weight: 400;
    color: darkgrey;
}